## Pandas

<img src="img/pandas_logo.png" width="600">

In [116]:
# Para usarlo primero hay que importarlo
from pandas import Series, DataFrame
import pandas as pd

### Ejercicio con pandas
- Leer datos desde archivo.
- Muestren los primeros 10
- Muestren los últimos 10
- Muestren solo los nombres de los propietarios
- Agregar una columna de Edad
- Asignar una edad a cada registro (como prefieran)
- Agregar 10 registros, uno por cada compañero de clase (puede inventar los datos, excepto el nombre)
- Cuenten cuántas casas y departamentos hay (tipo de bien) en la BD
- Me digan cuantos Juan son propietarios
- Llenar los missing data con el valor predominante en cada columna
- Contar cuantos elementos hay de cada columna
- Copien la BD a otro Dataframe
- En el nuevo Dataframe
    - Borrar todos los registros de localidad Laraquete
    - Borrar las fichas con valore entre 30 y 60.

- Leer datos desde archivo.

In [117]:
Datos=pd.read_csv("DATOS_Ej.csv", index_col=0)
Datos

       COMUNA    LOCALIDAD  TIPO DE BIEN NORMATIVA           PROPIETARIO
ficha
1      Arauco    Laraquete          Casa     Rural              Honorina
5      Arauco    Laraquete          Casa     Rural       Marilyn Marlene
10     Arauco    Laraquete          Casa     Rural     Francisco Segundo
11     Arauco    Laraquete          Casa     Rural         Susana Angela
12     Arauco    Laraquete          Casa     Rural   Bernarda del Carmen
13     Arauco    Laraquete          Casa     Rural         Segundo Ramón
15     Arauco    Laraquete          Casa     Rural           Flor Esilda
22     Arauco       Arauco          Casa     Rural              Cecilia
23     Arauco       Arauco          Casa     Rural        Samuel Segundo
25     Arauco       Arauco          Casa     Rural            Sonia Inés
26     Arauco       Arauco          Casa     Rural               Lucila
27     Arauco       Arauco          Casa     Rural                  Juan
28     Arauco       Arauco          Casa    Urbana              Maritza
29     Arauco       Arauco          Casa    Urbana           Irma Eliana
31     Arauco       Arauco          Casa    Urbana                  José
33     Arauco       Arauco          Casa    Urbana          Rosa Eulalia
35     Arauco    Laraquete          Casa     Rural  Flilomena del Carmen
37     Arauco       Arauco          Casa    Urbana                  Juan
38     Arauco       Arauco          Casa    Urbana                 Edita
40     Arauco       Arauco          Casa    Urbana            Rosa Elena
41     Arauco       Arauco          Casa    Urbana        Ema del Carmen
42     Arauco       Arauco          Casa    Urbana        María Angélica
44     Arauco       Arauco          Casa    Urbana               Heraldo
45     Arauco       Arauco          Casa    Urbana                Sergio
46     Arauco       Arauco          Casa    Urbana                Moises
47     Arauco       Arauco          Casa    Urbana              Graciela
49     Arauco       Arauco          Casa    Urbana            José Maria
51     Arauco       Arauco          Casa    Urbana      Magaly del Pilar
54     Arauco       Arauco          Casa    Urbana           Hilda Ester
64     Arauco    Laraquete          Casa     Rural        Juan Honorino
...       ...          ...           ...       ...                   ...
134    Arauco    Laraquete          Casa     Rural            Maria Irma
136    Arauco    Laraquete          Casa     Rural             Uberlinda
137    Arauco    Laraquete          Casa     Rural                 Yenny
139    Arauco    Laraquete          Casa     Rural               Basilia
141    Arauco       Arauco          Casa    Urbana           Juan Plinio
142    Arauco       Arauco          Casa    Urbana                Julián
143    Arauco       Arauco  departamento    Urbana                  Juan
146    Arauco       Arauco  departamento    Urbana    Patricia Jeannette
147    Arauco          NaN  departamento    Urbana             Ana Luisa
148    Arauco          NaN  departamento    Urbana          María Isabel
149    Arauco       Arauco  departamento    Urbana          Yasna Evelyn
151    Arauco       Arauco  departamento    Urbana        Carlos Aladino
152    Arauco       Arauco  departamento    Urbana             José Luis
153    Arauco       Arauco  departamento     Rural         Juan Bautista
154    Arauco       Arauco  departamento    Urbana          José Aquiles
155    Arauco       Arauco  departamento    Urbana              Herminio
156    Arauco       Arauco  departamento    Urbana                 Edina
157    Arauco  Carampangue  departamento     Rural         Ramón Segundo
158    Arauco  Carampangue  departamento     Rural      Patricio Segundo
159    Arauco       Arauco  departamento    Urbana                 Nilda
160    Arauco       Arauco  departamento    Urbana       María Cristina
161    Arauco       Arauco  departamento    Urbana             Rigoberto
163    Arauco       Arauco  departamento    Urbana         Pedro Segundo
167    Arauco       Arauco  departamento    Urbana             Segundo
171    Arauco       Arauco  departamento    Urbana                 Mario
172    Arauco       Arauco  departamento    Urbana  Demesio del Tránsito
173    Arauco       Arauco  departamento    Urbana                Carlos
174    Arauco       Arauco  departamento    Urbana                 Norma
175    Arauco       Arauco  departamento    Urbana     Marcela Elizabeth
176    Arauco       Arauco  departamento    Urbana     Teresa del Carmen

[97 rows x 5 columns]

### Ejercicio con pandas
- Leer datos desde archivo.
- Llenar los missing data con el valor predominante en cada columna
- Muestren los primeros 10
- Muestren los últimos 10
- Muestren solo los nombres de los propietarios
- Agregar una columna de Edad
- Asignar una edad a cada registro (como prefieran)
- Agregar 10 registros, uno por cada compañero de clase (puede inventar los datos, excepto el nombre)
- Cuenten cuántas casas y departamentos hay (tipo de bien) en la BD
- Me digan cuantos Juan son propietarios
- Copien la BD a otro Dataframe
- En el nuevo Dataframe
    - Borrar todos los registros de localidad Laraquete
    - Borrar las fichas con valore entre 30 y 60.

In [118]:
#Muestren los primeros 10
Datos.head(10)

       COMUNA  LOCALIDAD TIPO DE BIEN NORMATIVA          PROPIETARIO
ficha
1      Arauco  Laraquete         Casa     Rural             Honorina
5      Arauco  Laraquete         Casa     Rural      Marilyn Marlene
10     Arauco  Laraquete         Casa     Rural    Francisco Segundo
11     Arauco  Laraquete         Casa     Rural        Susana Angela
12     Arauco  Laraquete         Casa     Rural  Bernarda del Carmen
13     Arauco  Laraquete         Casa     Rural        Segundo Ramón
15     Arauco  Laraquete         Casa     Rural          Flor Esilda
22     Arauco     Arauco         Casa     Rural             Cecilia
23     Arauco     Arauco         Casa     Rural       Samuel Segundo
25     Arauco     Arauco         Casa     Rural           Sonia Inés

In [119]:
#Muestren los últimos 10
Datos.tail(10)

       COMUNA LOCALIDAD  TIPO DE BIEN NORMATIVA           PROPIETARIO
ficha
160    Arauco    Arauco  departamento    Urbana       María Cristina
161    Arauco    Arauco  departamento    Urbana             Rigoberto
163    Arauco    Arauco  departamento    Urbana         Pedro Segundo
167    Arauco    Arauco  departamento    Urbana             Segundo
171    Arauco    Arauco  departamento    Urbana                 Mario
172    Arauco    Arauco  departamento    Urbana  Demesio del Tránsito
173    Arauco    Arauco  departamento    Urbana                Carlos
174    Arauco    Arauco  departamento    Urbana                 Norma
175    Arauco    Arauco  departamento    Urbana     Marcela Elizabeth
176    Arauco    Arauco  departamento    Urbana     Teresa del Carmen

In [120]:
#Muestren solo los nombres de los propietarios
Datos.PROPIETARIO
Datos['PROPIETARIO']

ficha
1                  Honorina
5           Marilyn Marlene
10        Francisco Segundo
11            Susana Angela
12      Bernarda del Carmen
13            Segundo Ramón
15              Flor Esilda
22                 Cecilia
23           Samuel Segundo
25               Sonia Inés
26                  Lucila
27                     Juan
28                 Maritza
29              Irma Eliana
31                     José
33             Rosa Eulalia
35     Flilomena del Carmen
37                     Juan
38                    Edita
40               Rosa Elena
41           Ema del Carmen
42           María Angélica
44                  Heraldo
45                   Sergio
46                   Moises
47                 Graciela
49               José Maria
51         Magaly del Pilar
54              Hilda Ester
64           Juan Honorino
               ...
134              Maria Irma
136               Uberlinda
137                   Yenny
139                 Basilia
141             Juan Plinio
142                  Julián
143                    Juan
146      Patricia Jeannette
147               Ana Luisa
148            María Isabel
149            Yasna Evelyn
151          Carlos Aladino
152               José Luis
153           Juan Bautista
154            José Aquiles
155                Herminio
156                   Edina
157           Ramón Segundo
158        Patricio Segundo
159                   Nilda
160         María Cristina
161               Rigoberto
163           Pedro Segundo
167               Segundo
171                   Mario
172    Demesio del Tránsito
173                  Carlos
174                   Norma
175       Marcela Elizabeth
176       Teresa del Carmen
Name: PROPIETARIO, dtype: object

In [121]:
#Si lo queremos ir accediendo como lista hacemos
L=list(Datos['PROPIETARIO'])
L[0]

'Honorina'

In [122]:
#Agregar una columna de Edad
n_datos=Datos.reindex(index=list(Datos.index),
                      columns=list(Datos.columns)+['Edad'])
n_datos

       COMUNA    LOCALIDAD  TIPO DE BIEN NORMATIVA           PROPIETARIO  Edad
ficha
1      Arauco    Laraquete          Casa     Rural              Honorina   NaN
5      Arauco    Laraquete          Casa     Rural       Marilyn Marlene   NaN
10     Arauco    Laraquete          Casa     Rural     Francisco Segundo   NaN
11     Arauco    Laraquete          Casa     Rural         Susana Angela   NaN
12     Arauco    Laraquete          Casa     Rural   Bernarda del Carmen   NaN
13     Arauco    Laraquete          Casa     Rural         Segundo Ramón   NaN
15     Arauco    Laraquete          Casa     Rural           Flor Esilda   NaN
22     Arauco       Arauco          Casa     Rural              Cecilia    NaN
23     Arauco       Arauco          Casa     Rural        Samuel Segundo   NaN
25     Arauco       Arauco          Casa     Rural            Sonia Inés   NaN
26     Arauco       Arauco          Casa     Rural               Lucila    NaN
27     Arauco       Arauco          Casa     Rural                  Juan   NaN
28     Arauco       Arauco          Casa    Urbana              Maritza    NaN
29     Arauco       Arauco          Casa    Urbana           Irma Eliana   NaN
31     Arauco       Arauco          Casa    Urbana                  José   NaN
33     Arauco       Arauco          Casa    Urbana          Rosa Eulalia   NaN
35     Arauco    Laraquete          Casa     Rural  Flilomena del Carmen   NaN
37     Arauco       Arauco          Casa    Urbana                  Juan   NaN
38     Arauco       Arauco          Casa    Urbana                 Edita   NaN
40     Arauco       Arauco          Casa    Urbana            Rosa Elena   NaN
41     Arauco       Arauco          Casa    Urbana        Ema del Carmen   NaN
42     Arauco       Arauco          Casa    Urbana        María Angélica   NaN
44     Arauco       Arauco          Casa    Urbana               Heraldo   NaN
45     Arauco       Arauco          Casa    Urbana                Sergio   NaN
46     Arauco       Arauco          Casa    Urbana                Moises   NaN
47     Arauco       Arauco          Casa    Urbana              Graciela   NaN
49     Arauco       Arauco          Casa    Urbana            José Maria   NaN
51     Arauco       Arauco          Casa    Urbana      Magaly del Pilar   NaN
54     Arauco       Arauco          Casa    Urbana           Hilda Ester   NaN
64     Arauco    Laraquete          Casa     Rural        Juan Honorino    NaN
...       ...          ...           ...       ...                   ...   ...
134    Arauco    Laraquete          Casa     Rural            Maria Irma   NaN
136    Arauco    Laraquete          Casa     Rural             Uberlinda   NaN
137    Arauco    Laraquete          Casa     Rural                 Yenny   NaN
139    Arauco    Laraquete          Casa     Rural               Basilia   NaN
141    Arauco       Arauco          Casa    Urbana           Juan Plinio   NaN
142    Arauco       Arauco          Casa    Urbana                Julián   NaN
143    Arauco       Arauco  departamento    Urbana                  Juan   NaN
146    Arauco       Arauco  departamento    Urbana    Patricia Jeannette   NaN
147    Arauco          NaN  departamento    Urbana             Ana Luisa   NaN
148    Arauco          NaN  departamento    Urbana          María Isabel   NaN
149    Arauco       Arauco  departamento    Urbana          Yasna Evelyn   NaN
151    Arauco       Arauco  departamento    Urbana        Carlos Aladino   NaN
152    Arauco       Arauco  departamento    Urbana             José Luis   NaN
153    Arauco       Arauco  departamento     Rural         Juan Bautista   NaN
154    Arauco       Arauco  departamento    Urbana          José Aquiles   NaN
155    Arauco       Arauco  departamento    Urbana              Herminio   NaN
156    Arauco       Arauco  departamento    Urbana                 Edina   NaN
157    Arauco  Carampangue  departamento     Rural         Ramón Segundo   NaN
158    Arauco  Carampangue  departamento     Rural      Patricio Segundo   NaN
159    Arauco       Arauco  departamento    Urbana                 Nilda   NaN
160    Arauco       Arauco  departamento    Urbana       María Cristina    NaN
161    Arauco       Arauco  departamento    Urbana             Rigoberto   NaN
163    Arauco       Arauco  departamento    Urbana         Pedro Segundo   NaN
167    Arauco       Arauco  departamento    Urbana             Segundo     NaN
171    Arauco       Arauco  departamento    Urbana                 Mario   NaN
172    Arauco       Arauco  departamento    Urbana  Demesio del Tránsito   NaN
173    Arauco       Arauco  departamento    Urbana                Carlos   NaN
174    Arauco       Arauco  departamento    Urbana                 Norma   NaN
175    Arauco       Arauco  departamento    Urbana     Marcela Elizabeth   NaN
176    Arauco       Arauco  departamento    Urbana     Teresa del Carmen   NaN

[97 rows x 6 columns]

In [123]:
#Agregar una columna de Edad (otra forma)
n_datos['Edad']=10
n_datos

       COMUNA    LOCALIDAD  TIPO DE BIEN NORMATIVA           PROPIETARIO  Edad
ficha
1      Arauco    Laraquete          Casa     Rural              Honorina    10
5      Arauco    Laraquete          Casa     Rural       Marilyn Marlene    10
10     Arauco    Laraquete          Casa     Rural     Francisco Segundo    10
11     Arauco    Laraquete          Casa     Rural         Susana Angela    10
12     Arauco    Laraquete          Casa     Rural   Bernarda del Carmen    10
13     Arauco    Laraquete          Casa     Rural         Segundo Ramón    10
15     Arauco    Laraquete          Casa     Rural           Flor Esilda    10
22     Arauco       Arauco          Casa     Rural              Cecilia     10
23     Arauco       Arauco          Casa     Rural        Samuel Segundo    10
25     Arauco       Arauco          Casa     Rural            Sonia Inés    10
26     Arauco       Arauco          Casa     Rural               Lucila     10
27     Arauco       Arauco          Casa     Rural                  Juan    10
28     Arauco       Arauco          Casa    Urbana              Maritza     10
29     Arauco       Arauco          Casa    Urbana           Irma Eliana    10
31     Arauco       Arauco          Casa    Urbana                  José    10
33     Arauco       Arauco          Casa    Urbana          Rosa Eulalia    10
35     Arauco    Laraquete          Casa     Rural  Flilomena del Carmen    10
37     Arauco       Arauco          Casa    Urbana                  Juan    10
38     Arauco       Arauco          Casa    Urbana                 Edita    10
40     Arauco       Arauco          Casa    Urbana            Rosa Elena    10
41     Arauco       Arauco          Casa    Urbana        Ema del Carmen    10
42     Arauco       Arauco          Casa    Urbana        María Angélica    10
44     Arauco       Arauco          Casa    Urbana               Heraldo    10
45     Arauco       Arauco          Casa    Urbana                Sergio    10
46     Arauco       Arauco          Casa    Urbana                Moises    10
47     Arauco       Arauco          Casa    Urbana              Graciela    10
49     Arauco       Arauco          Casa    Urbana            José Maria    10
51     Arauco       Arauco          Casa    Urbana      Magaly del Pilar    10
54     Arauco       Arauco          Casa    Urbana           Hilda Ester    10
64     Arauco    Laraquete          Casa     Rural        Juan Honorino     10
...       ...          ...           ...       ...                   ...   ...
134    Arauco    Laraquete          Casa     Rural            Maria Irma    10
136    Arauco    Laraquete          Casa     Rural             Uberlinda    10
137    Arauco    Laraquete          Casa     Rural                 Yenny    10
139    Arauco    Laraquete          Casa     Rural               Basilia    10
141    Arauco       Arauco          Casa    Urbana           Juan Plinio    10
142    Arauco       Arauco          Casa    Urbana                Julián    10
143    Arauco       Arauco  departamento    Urbana                  Juan    10
146    Arauco       Arauco  departamento    Urbana    Patricia Jeannette    10
147    Arauco          NaN  departamento    Urbana             Ana Luisa    10
148    Arauco          NaN  departamento    Urbana          María Isabel    10
149    Arauco       Arauco  departamento    Urbana          Yasna Evelyn    10
151    Arauco       Arauco  departamento    Urbana        Carlos Aladino    10
152    Arauco       Arauco  departamento    Urbana             José Luis    10
153    Arauco       Arauco  departamento     Rural         Juan Bautista    10
154    Arauco       Arauco  departamento    Urbana          José Aquiles    10
155    Arauco       Arauco  departamento    Urbana              Herminio    10
156    Arauco       Arauco  departamento    Urbana                 Edina    10
157    Arauco  Carampangue  departamento     Rural         Ramón Segundo    10
158    Arauco  Carampangue  departamento     Rural      Patricio Segundo    10
159    Arauco       Arauco  departamento    Urbana                 Nilda    10
160    Arauco       Arauco  departamento    Urbana       María Cristina     10
161    Arauco       Arauco  departamento    Urbana             Rigoberto    10
163    Arauco       Arauco  departamento    Urbana         Pedro Segundo    10
167    Arauco       Arauco  departamento    Urbana             Segundo      10
171    Arauco       Arauco  departamento    Urbana                 Mario    10
172    Arauco       Arauco  departamento    Urbana  Demesio del Tránsito    10
173    Arauco       Arauco  departamento    Urbana                Carlos    10
174    Arauco       Arauco  departamento    Urbana                 Norma    10
175    Arauco       Arauco  departamento    Urbana     Marcela Elizabeth    10
176    Arauco       Arauco  departamento    Urbana     Teresa del Carmen    10

[97 rows x 6 columns]

In [124]:
#ASIGNAR EDAD RANDOM
import random
for index, row in n_datos.iterrows():
    v=random.randint(18,90)
    n_datos.loc[n_datos.index==index,"Edad"] = v
n_datos.head()

       COMUNA  LOCALIDAD TIPO DE BIEN NORMATIVA          PROPIETARIO  Edad
ficha
1      Arauco  Laraquete         Casa     Rural             Honorina    54
5      Arauco  Laraquete         Casa     Rural      Marilyn Marlene    52
10     Arauco  Laraquete         Casa     Rural    Francisco Segundo    58
11     Arauco  Laraquete         Casa     Rural        Susana Angela    35
12     Arauco  Laraquete         Casa     Rural  Bernarda del Carmen    61

In [125]:
n_datos.tail()

       COMUNA LOCALIDAD  TIPO DE BIEN NORMATIVA           PROPIETARIO  Edad
ficha
172    Arauco    Arauco  departamento    Urbana  Demesio del Tránsito    40
173    Arauco    Arauco  departamento    Urbana                Carlos    59
174    Arauco    Arauco  departamento    Urbana                 Norma    31
175    Arauco    Arauco  departamento    Urbana     Marcela Elizabeth    26
176    Arauco    Arauco  departamento    Urbana     Teresa del Carmen    78

In [126]:
'''Agregar 10 registros, uno por cada compañero de clase 
(puede inventar los datos, excepto el nombre)
'''
import random
import numpy as np
d_temp=DataFrame(columns=n_datos.columns)

Alumnos=["Manuel","Santiago","Hugo","Briana","Olivia","Axel","Rodrigo",
         "Daniel","Dulce","Hector"]

for i in range(0,10):
    d_temp.loc[i,"COMUNA"] = random.choice(["Arauco",np.nan])
    d_temp.loc[i,"LOCALIDAD"]= random.choice(["Arauco","Carampangue",
                                              "Laraquete",np.nan])
    d_temp.loc[i,"TIPO DE BIEN"]= random.choice(["departamento",
                                                 "Casa",np.nan])
    d_temp.loc[i,"NORMATIVA"]= random.choice(["Urbana",
                                              "Rural",np.nan])
    d_temp.loc[i,"PROPIETARIO"]= Alumnos[i]
    d_temp.loc[i,"Edad"]= random.randint(20,25)
    
d_temp

   COMUNA    LOCALIDAD  TIPO DE BIEN NORMATIVA PROPIETARIO Edad
0  Arauco          NaN  departamento       NaN      Manuel   20
1     NaN       Arauco          Casa       NaN    Santiago   20
2     NaN          NaN  departamento       NaN        Hugo   24
3     NaN       Arauco  departamento    Urbana      Briana   22
4  Arauco  Carampangue           NaN    Urbana      Olivia   25
5  Arauco          NaN          Casa    Urbana        Axel   23
6  Arauco    Laraquete  departamento    Urbana     Rodrigo   24
7  Arauco    Laraquete          Casa       NaN      Daniel   21
8  Arauco  Carampangue           NaN    Urbana       Dulce   20
9     NaN       Arauco           NaN     Rural      Hector   21

In [127]:
n_datos=n_datos.append(d_temp, ignore_index=True)

In [128]:
n_datos.tail(11)

     COMUNA    LOCALIDAD  TIPO DE BIEN NORMATIVA        PROPIETARIO Edad
96   Arauco       Arauco  departamento    Urbana  Teresa del Carmen   78
97   Arauco          NaN  departamento       NaN             Manuel   20
98      NaN       Arauco          Casa       NaN           Santiago   20
99      NaN          NaN  departamento       NaN               Hugo   24
100     NaN       Arauco  departamento    Urbana             Briana   22
101  Arauco  Carampangue           NaN    Urbana             Olivia   25
102  Arauco          NaN          Casa    Urbana               Axel   23
103  Arauco    Laraquete  departamento    Urbana            Rodrigo   24
104  Arauco    Laraquete          Casa       NaN             Daniel   21
105  Arauco  Carampangue           NaN    Urbana              Dulce   20
106     NaN       Arauco           NaN     Rural             Hector   21

In [129]:
'''Cuenten cuántas casas y departamentos hay (tipo de bien) en la BD
'''
casas=n_datos["TIPO DE BIEN"]=="Casa"
sum(casas)

76

In [130]:
casas=n_datos.loc[n_datos["TIPO DE BIEN"]=="Casa",].count()
casas

COMUNA          75
LOCALIDAD       74
TIPO DE BIEN    76
NORMATIVA       74
PROPIETARIO     76
Edad            76
dtype: int64

In [131]:
casas["TIPO DE BIEN"]

76

In [132]:
'''Cuenten cuántas casas y departamentos hay (tipo de bien) en la BD
'''
departamentos=n_datos["TIPO DE BIEN"]=="departamento"
sum(departamentos)

28

In [133]:
departamentos=n_datos.loc[n_datos["TIPO DE BIEN"]
                          =="departamento",].count()
departamentos["TIPO DE BIEN"]

28

In [134]:
'''Me digan cuantos Juan son propietarios
'''
juanes=n_datos.PROPIETARIO=="Juan"
sum(juanes)

4

In [135]:
'''Llenar los missing data con el valor predominante en cada columna
'''
Predominantes=[]
def F_predominantes(p):
    
    for c in n_datos.columns:
        t=n_datos.xs(c, axis=1).mode()
        p.append(t.values[0])
    return p

Predominantes=F_predominantes(Predominantes)  
Predominantes

['Arauco', 'Arauco', 'Casa', 'Urbana', 'Juan', 35]

In [136]:
t=n_datos.xs("Edad", axis=1).mode()
t

0    35
dtype: object

In [137]:
x=0
datos_nonan=n_datos.copy()
columnas = datos_nonan.columns

for c in columnas:
    datos_nonan[c].fillna(Predominantes[x], inplace=True)
    x = x + 1

In [138]:
datos_nonan.tail(11)

     COMUNA    LOCALIDAD  TIPO DE BIEN NORMATIVA        PROPIETARIO  Edad
96   Arauco       Arauco  departamento    Urbana  Teresa del Carmen    78
97   Arauco       Arauco  departamento    Urbana             Manuel    20
98   Arauco       Arauco          Casa    Urbana           Santiago    20
99   Arauco       Arauco  departamento    Urbana               Hugo    24
100  Arauco       Arauco  departamento    Urbana             Briana    22
101  Arauco  Carampangue          Casa    Urbana             Olivia    25
102  Arauco       Arauco          Casa    Urbana               Axel    23
103  Arauco    Laraquete  departamento    Urbana            Rodrigo    24
104  Arauco    Laraquete          Casa    Urbana             Daniel    21
105  Arauco  Carampangue          Casa    Urbana              Dulce    20
106  Arauco       Arauco          Casa     Rural             Hector    21

In [139]:
n_datos.tail(11)

     COMUNA    LOCALIDAD  TIPO DE BIEN NORMATIVA        PROPIETARIO Edad
96   Arauco       Arauco  departamento    Urbana  Teresa del Carmen   78
97   Arauco          NaN  departamento       NaN             Manuel   20
98      NaN       Arauco          Casa       NaN           Santiago   20
99      NaN          NaN  departamento       NaN               Hugo   24
100     NaN       Arauco  departamento    Urbana             Briana   22
101  Arauco  Carampangue           NaN    Urbana             Olivia   25
102  Arauco          NaN          Casa    Urbana               Axel   23
103  Arauco    Laraquete  departamento    Urbana            Rodrigo   24
104  Arauco    Laraquete          Casa       NaN             Daniel   21
105  Arauco  Carampangue           NaN    Urbana              Dulce   20
106     NaN       Arauco           NaN     Rural             Hector   21

In [140]:
#Contar cuantos elementos hay de cada columna
columnas = datos_nonan.columns
e_columas = []

for c in columnas:
    x = datos_nonan[c].value_counts()
    e_columas.append(x)

In [141]:
x = datos_nonan['Edad'].value_counts()
x

35    5
50    4
25    4
37    4
34    4
20    4
33    4
21    4
26    4
31    3
68    3
41    3
79    3
88    3
86    3
83    3
72    2
44    2
52    2
53    2
54    2
24    2
27    2
62    2
78    2
30    1
29    1
28    1
39    1
19    1
36    1
22    1
23    1
32    1
90    1
40    1
66    1
85    1
84    1
81    1
76    1
75    1
70    1
69    1
67    1
63    1
43    1
61    1
60    1
59    1
58    1
56    1
89    1
49    1
48    1
18    1
Name: Edad, dtype: int64

In [142]:
#En e_columnas se almacenan los elementos únicos en cada columna.
len(e_columas[5])

56

In [143]:
i=0
for c in columnas:
    print("En la Columna",c,"Hay ", len(e_columas[i]),
          " elementos diferentes ")
    i+=1

En la Columna COMUNA Hay  1  elementos diferentes
En la Columna LOCALIDAD Hay  4  elementos diferentes
En la Columna TIPO DE BIEN Hay  2  elementos diferentes
En la Columna NORMATIVA Hay  2  elementos diferentes
En la Columna PROPIETARIO Hay  102  elementos diferentes
En la Columna Edad Hay  56  elementos diferentes

In [144]:
borrar_DF = n_datos.copy()

In [145]:
#Borrar todos los registros de localidad Laraquete
borrar_DF.drop(borrar_DF.index[borrar_DF.LOCALIDAD == "Laraquete"],
               inplace=True)
borrar_DF

     COMUNA    LOCALIDAD  TIPO DE BIEN NORMATIVA             PROPIETARIO Edad
7    Arauco       Arauco          Casa     Rural                Cecilia    68
8    Arauco       Arauco          Casa     Rural          Samuel Segundo   83
9    Arauco       Arauco          Casa     Rural              Sonia Inés   62
10   Arauco       Arauco          Casa     Rural                 Lucila    83
11   Arauco       Arauco          Casa     Rural                    Juan   18
12   Arauco       Arauco          Casa    Urbana                Maritza    33
13   Arauco       Arauco          Casa    Urbana             Irma Eliana   25
14   Arauco       Arauco          Casa    Urbana                    José   33
15   Arauco       Arauco          Casa    Urbana            Rosa Eulalia   37
17   Arauco       Arauco          Casa    Urbana                    Juan   31
18   Arauco       Arauco          Casa    Urbana                   Edita   52
19   Arauco       Arauco          Casa    Urbana              Rosa Elena   33
20   Arauco       Arauco          Casa    Urbana          Ema del Carmen   25
21   Arauco       Arauco          Casa    Urbana          María Angélica   37
22   Arauco       Arauco          Casa    Urbana                 Heraldo   37
23   Arauco       Arauco          Casa    Urbana                  Sergio   79
24   Arauco       Arauco          Casa    Urbana                  Moises   34
25   Arauco       Arauco          Casa    Urbana                Graciela   26
26   Arauco       Arauco          Casa    Urbana              José Maria   50
27   Arauco       Arauco          Casa    Urbana        Magaly del Pilar   35
28   Arauco       Arauco          Casa    Urbana             Hilda Ester   54
31   Arauco       Arauco          Casa    Urbana                   Marta   41
32   Arauco       Arauco          Casa    Urbana    Alejandra del Carmen   88
33   Arauco       Arauco          Casa    Urbana          Tania Angelica   37
34   Arauco       Arauco          Casa    Urbana        Irene del Carmen   35
35   Arauco       Arauco          Casa    Urbana  Estela de Las Mercedes   68
36   Arauco       Arauco          Casa    Urbana         Roguers Alberto   32
37   Arauco       Arauco          Casa    Urbana         Maria margarita   36
38   Arauco       Arauco          Casa    Urbana                  Julio    34
39   Arauco       Arauco          Casa    Urbana            Luis Ricardo   53
..      ...          ...           ...       ...                     ...  ...
75   Arauco          NaN  departamento    Urbana               Ana Luisa   20
76   Arauco          NaN  departamento    Urbana            María Isabel   66
77   Arauco       Arauco  departamento    Urbana            Yasna Evelyn   34
78   Arauco       Arauco  departamento    Urbana          Carlos Aladino   83
79   Arauco       Arauco  departamento    Urbana               José Luis   85
80   Arauco       Arauco  departamento     Rural           Juan Bautista   35
81   Arauco       Arauco  departamento    Urbana            José Aquiles   34
82   Arauco       Arauco  departamento    Urbana                Herminio   68
83   Arauco       Arauco  departamento    Urbana                   Edina   50
84   Arauco  Carampangue  departamento     Rural           Ramón Segundo   60
85   Arauco  Carampangue  departamento     Rural        Patricio Segundo   44
86   Arauco       Arauco  departamento    Urbana                   Nilda   30
87   Arauco       Arauco  departamento    Urbana         María Cristina    79
88   Arauco       Arauco  departamento    Urbana               Rigoberto   70
89   Arauco       Arauco  departamento    Urbana           Pedro Segundo   31
90   Arauco       Arauco  departamento    Urbana               Segundo     86
91   Arauco       Arauco  departamento    Urbana                   Mario   50
92   Arauco       Arauco  departamento    Urbana    Demesio del Tránsito   40
93   Arauco       Arauco  departamento    Urbana                  Carlos   59
94   Arauco       Arauco  departamento    Urbana                   Norma   31
95   Arauco       Arauco  departamento    Urbana       Marcela Elizabeth   26
96   Arauco       Arauco  departamento    Urbana       Teresa del Carmen   78
97   Arauco          NaN  departamento       NaN                  Manuel   20
98      NaN       Arauco          Casa       NaN                Santiago   20
99      NaN          NaN  departamento       NaN                    Hugo   24
100     NaN       Arauco  departamento    Urbana                  Briana   22
101  Arauco  Carampangue           NaN    Urbana                  Olivia   25
102  Arauco          NaN          Casa    Urbana                    Axel   23
105  Arauco  Carampangue           NaN    Urbana                   Dulce   20
106     NaN       Arauco           NaN     Rural                  Hector   21

[90 rows x 6 columns]

In [146]:
#Borrar todos los registros de localidad Laraquete
borrar_DF = borrar_DF[borrar_DF.LOCALIDAD != "Laraquete"]

In [147]:
#Borrar indices entre 30 y 60
borrar_DF = borrar_DF[(borrar_DF.index < 30) | (borrar_DF.index > 60)]
borrar_DF.head(40)

    COMUNA    LOCALIDAD  TIPO DE BIEN NORMATIVA         PROPIETARIO Edad
7   Arauco       Arauco          Casa     Rural            Cecilia    68
8   Arauco       Arauco          Casa     Rural      Samuel Segundo   83
9   Arauco       Arauco          Casa     Rural          Sonia Inés   62
10  Arauco       Arauco          Casa     Rural             Lucila    83
11  Arauco       Arauco          Casa     Rural                Juan   18
12  Arauco       Arauco          Casa    Urbana            Maritza    33
13  Arauco       Arauco          Casa    Urbana         Irma Eliana   25
14  Arauco       Arauco          Casa    Urbana                José   33
15  Arauco       Arauco          Casa    Urbana        Rosa Eulalia   37
17  Arauco       Arauco          Casa    Urbana                Juan   31
18  Arauco       Arauco          Casa    Urbana               Edita   52
19  Arauco       Arauco          Casa    Urbana          Rosa Elena   33
20  Arauco       Arauco          Casa    Urbana      Ema del Carmen   25
21  Arauco       Arauco          Casa    Urbana      María Angélica   37
22  Arauco       Arauco          Casa    Urbana             Heraldo   37
23  Arauco       Arauco          Casa    Urbana              Sergio   79
24  Arauco       Arauco          Casa    Urbana              Moises   34
25  Arauco       Arauco          Casa    Urbana            Graciela   26
26  Arauco       Arauco          Casa    Urbana          José Maria   50
27  Arauco       Arauco          Casa    Urbana    Magaly del Pilar   35
28  Arauco       Arauco          Casa    Urbana         Hilda Ester   54
61  Arauco       Arauco          Casa    Urbana      Carlos Alberto   33
62  Arauco       Arauco          Casa    Urbana      Isabel Zunilda   63
63  Arauco       Arauco          Casa    Urbana     Segundo Ruperto   21
64  Arauco       Arauco          Casa    Urbana      Andrea Araceli   72
65  Arauco       Arauco          Casa     Rural               Pedro   78
71  Arauco       Arauco          Casa    Urbana         Juan Plinio   27
72  Arauco       Arauco          Casa    Urbana              Julián   67
73  Arauco       Arauco  departamento    Urbana                Juan   88
74  Arauco       Arauco  departamento    Urbana  Patricia Jeannette   26
75  Arauco          NaN  departamento    Urbana           Ana Luisa   20
76  Arauco          NaN  departamento    Urbana        María Isabel   66
77  Arauco       Arauco  departamento    Urbana        Yasna Evelyn   34
78  Arauco       Arauco  departamento    Urbana      Carlos Aladino   83
79  Arauco       Arauco  departamento    Urbana           José Luis   85
80  Arauco       Arauco  departamento     Rural       Juan Bautista   35
81  Arauco       Arauco  departamento    Urbana        José Aquiles   34
82  Arauco       Arauco  departamento    Urbana            Herminio   68
83  Arauco       Arauco  departamento    Urbana               Edina   50
84  Arauco  Carampangue  departamento     Rural       Ramón Segundo   60

#### Leyendo y escribiendo datos en formato de texto
#### Pandas tiene diversas formas para leer datos desde archivos de datos tabulares como un objeto dataframe
pd.read_csv('iris.data')  
pd.read_excel  
pd.read_table  
pd.read_fwf   
pd.read_stata

In [148]:
A=pd.read_csv('iris.data',header=None)
A.head()

     0    1    2    3            4
0  5.1  3.5  1.4  0.2  Iris-setosa
1  4.9  3.0  1.4  0.2  Iris-setosa
2  4.7  3.2  1.3  0.2  Iris-setosa
3  4.6  3.1  1.5  0.2  Iris-setosa
4  5.0  3.6  1.4  0.2  Iris-setosa

In [149]:
B=pd.read_csv('iris.data',header=None, sep=',')
B.head()

     0    1    2    3            4
0  5.1  3.5  1.4  0.2  Iris-setosa
1  4.9  3.0  1.4  0.2  Iris-setosa
2  4.7  3.2  1.3  0.2  Iris-setosa
3  4.6  3.1  1.5  0.2  Iris-setosa
4  5.0  3.6  1.4  0.2  Iris-setosa

In [150]:
C=pd.read_csv('iris.data',names=['sepal_l','sepal_w',
                                 'petal_l','petal_w','Class'])
C.head()

   sepal_l  sepal_w  petal_l  petal_w        Class
0      5.1      3.5      1.4      0.2  Iris-setosa
1      4.9      3.0      1.4      0.2  Iris-setosa
2      4.7      3.2      1.3      0.2  Iris-setosa
3      4.6      3.1      1.5      0.2  Iris-setosa
4      5.0      3.6      1.4      0.2  Iris-setosa

In [151]:
D=pd.read_csv('iris.data',names=['sepal_l','sepal_w','petal_l',
                                 'petal_w','Class'],index_col='Class')
D.head()

             sepal_l  sepal_w  petal_l  petal_w
Class
Iris-setosa      5.1      3.5      1.4      0.2
Iris-setosa      4.9      3.0      1.4      0.2
Iris-setosa      4.7      3.2      1.3      0.2
Iris-setosa      4.6      3.1      1.5      0.2
Iris-setosa      5.0      3.6      1.4      0.2

## Ejemplo Titanic 
- Primero debemos cargar los datos de training.

In [152]:
train = pd.read_csv("train.csv",index_col = 'PassengerId') 
train = pd.DataFrame(train)

In [153]:
train

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S
16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q
18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S
20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C
21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,NaN,S
22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S
23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,Q
24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S
25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S
26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,NaN,S
27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C
28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S
29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q
30,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
862,0,2,"Giles, Mr. Frederick Edward",male,21.0,1,0,28134,11.5000,NaN,S
863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,D17,S
864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S
865,0,2,"Gill, Mr. John William",male,24.0,0,0,233866,13.0000,NaN,S
866,1,2,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852,13.0000,NaN,S
867,1,2,"Duran y More, Miss. Asuncion",female,27.0,1,0,SC/PARIS 2149,13.8583,NaN,C
868,0,1,"Roebling, Mr. Washington Augustus II",male,31.0,0,0,PC 17590,50.4958,A24,S
869,0,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,S
870,1,3,"Johnson, Master. Harold Theodor",male,4.0,1,1,347742,11.1333,NaN,S
871,0,3,"Balkic, Mr. Cerin",male,26.0,0,0,349248,7.8958,NaN,S
872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S
874,0,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,NaN,S
875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,NaN,C
876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,NaN,C
877,0,3,"Gustafsson, Mr. Alfred Ossian",male,20.0,0,0,7534,9.8458,NaN,S
878,0,3,"Petroff, Mr. Nedelio",male,19.0,0,0,349212,7.8958,NaN,S
879,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S
880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S
882,0,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,NaN,S
883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S
884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S
885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [154]:
train.describe() # Nos resume información estadística global del dataset

/Users/DMoctezuma/anaconda3/lib/python3.5/site-packages/numpy/lib/function_base.py:3834: RuntimeWarning: Invalid value encountered in percentile
  RuntimeWarning)

         Survived      Pclass         Age       SibSp       Parch        Fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000         NaN    0.000000    0.000000    7.910400
50%      0.000000    3.000000         NaN    0.000000    0.000000   14.454200
75%      1.000000    3.000000         NaN    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [155]:
print(train.columns) #Nos lista el nombre de las columnas
print(train.shape) # nos indica el número de filas y columnas

Index(['Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket',
       'Fare', 'Cabin', 'Embarked'],
      dtype='object')
(891, 11)

In [156]:
## Estructurando los datos.
# Se llenan los missing values de edad.
train['Age'].fillna(train['Age'].median(), inplace=True)

# ¿Para qué nos sirve el nombre?
train['Mr'] = 0
train['Mrs'] = 0
train['Miss'] = 0
train['royalty'] = 0
train['officer'] = 0

In [157]:
#Se categoriza, en relación con las columnas anteriores,
# el nombre del pasajero
for index, row in train.iterrows():
    name = row['Name']
    if 'Mr.' in name:
        train.set_value(index,'Mr',1)
    elif 'Mrs.' in name:
        train.set_value(index,'Mrs',1)
    elif 'Miss.' in name:
        train.set_value(index,'Miss',1)
    elif 'Lady' or 'Don' or 'Dona' or 'sir' or 'master' in name:
        train.set_value(index,'royalty',1)
    elif 'rev' in name:
        train.set_value(index,'officer',1)
        
train.head(2)
train.tail(2)

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Mr,Mrs,Miss,royalty,officer
PassengerId,,,,,,,,,,,,,,,,
890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C,1,0,0,0,0
891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q,1,0,0,0,0

In [158]:
train.drop('Name',inplace=True, axis=1)

In [159]:
train.head()

,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Mr,Mrs,Miss,royalty,officer
PassengerId,,,,,,,,,,,,,,,
1,0,3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,1,0,0,0,0
2,1,1,female,38.0,1,0,PC 17599,71.2833,C85,C,0,1,0,0,0
3,1,3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0,0,1,0,0
4,1,1,female,35.0,1,0,113803,53.1000,C123,S,0,1,0,0,0
5,0,3,male,35.0,0,0,373450,8.0500,NaN,S,1,0,0,0,0

In [160]:
#Port of Embarkation: (C = Cherbourg; Q = Queenstown; S = Southampton)
train['Embarked_S'] = 0
train['Embarked_C'] = 0
train['Embarked_Q'] = 0
train['Embarked_unknown'] = 0

for index,row in train.iterrows():
    embarkment = row['Embarked']
    if embarkment == 'S':
        train.set_value(index,'Embarked_S',1)
    elif embarkment == 'C':
        train.set_value(index,'Embarked_C',1)
    elif embarkment == 'Q':
        train.set_value(index,'Embarked_Q',1)
    else:
        train.set_value(index,'Embarked_unknown',1)

train.head()

,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Mr,Mrs,Miss,royalty,officer,Embarked_S,Embarked_C,Embarked_Q,Embarked_unknown
PassengerId,,,,,,,,,,,,,,,,,,,
1,0,3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,1,0,0,0,0,1,0,0,0
2,1,1,female,38.0,1,0,PC 17599,71.2833,C85,C,0,1,0,0,0,0,1,0,0
3,1,3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0,0,1,0,0,1,0,0,0
4,1,1,female,35.0,1,0,113803,53.1000,C123,S,0,1,0,0,0,1,0,0,0
5,0,3,male,35.0,0,0,373450,8.0500,NaN,S,1,0,0,0,0,1,0,0,0

In [161]:
#Borramos la columna Embarked
train.drop('Embarked', inplace = True, axis = 1) 
train.head()

,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Mr,Mrs,Miss,royalty,officer,Embarked_S,Embarked_C,Embarked_Q,Embarked_unknown
PassengerId,,,,,,,,,,,,,,,,,,
1,0,3,male,22.0,1,0,A/5 21171,7.2500,NaN,1,0,0,0,0,1,0,0,0
2,1,1,female,38.0,1,0,PC 17599,71.2833,C85,0,1,0,0,0,0,1,0,0
3,1,3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,0,0,1,0,0,1,0,0,0
4,1,1,female,35.0,1,0,113803,53.1000,C123,0,1,0,0,0,1,0,0,0
5,0,3,male,35.0,0,0,373450,8.0500,NaN,1,0,0,0,0,1,0,0,0

In [162]:
# Sex 1-0
for index,row in train.iterrows():
    if row['Sex'] == 'male':
        train.set_value(index, 'Sex', 1)
    else:
        train.set_value(index,'Sex',0)
train.head()

,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Mr,Mrs,Miss,royalty,officer,Embarked_S,Embarked_C,Embarked_Q,Embarked_unknown
PassengerId,,,,,,,,,,,,,,,,,,
1,0,3,1,22.0,1,0,A/5 21171,7.2500,NaN,1,0,0,0,0,1,0,0,0
2,1,1,0,38.0,1,0,PC 17599,71.2833,C85,0,1,0,0,0,0,1,0,0
3,1,3,0,26.0,0,0,STON/O2. 3101282,7.9250,NaN,0,0,1,0,0,1,0,0,0
4,1,1,0,35.0,1,0,113803,53.1000,C123,0,1,0,0,0,1,0,0,0
5,0,3,1,35.0,0,0,373450,8.0500,NaN,1,0,0,0,0,1,0,0,0

In [163]:
#Como no se utilizará la columna Ticket, lo borramos

train.drop('Ticket', inplace= True, axis = 1)
train.head()

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Cabin,Mr,Mrs,Miss,royalty,officer,Embarked_S,Embarked_C,Embarked_Q,Embarked_unknown
PassengerId,,,,,,,,,,,,,,,,,
1,0,3,1,22.0,1,0,7.2500,NaN,1,0,0,0,0,1,0,0,0
2,1,1,0,38.0,1,0,71.2833,C85,0,1,0,0,0,0,1,0,0
3,1,3,0,26.0,0,0,7.9250,NaN,0,0,1,0,0,1,0,0,0
4,1,1,0,35.0,1,0,53.1000,C123,0,1,0,0,0,1,0,0,0
5,0,3,1,35.0,0,0,8.0500,NaN,1,0,0,0,0,1,0,0,0

In [164]:
#Categorización de precios

train['Fare_cheap']=0
train['Fare_average']=0
train['Fare_costly']=0

for index,row in train.iterrows():
    if row['Fare'] <= 30.0 :
        train.set_value(index, 'Fare_cheap', 1)
    elif row['Fare'] >30 and  row['Fare'] <= 70.0:
        train.set_value(index,'Fare_average',1)
    else:
        train.set_value(index, 'Fare_costly',1)
        
train.head()

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Cabin,Mr,Mrs,Miss,royalty,officer,Embarked_S,Embarked_C,Embarked_Q,Embarked_unknown,Fare_cheap,Fare_average,Fare_costly
PassengerId,,,,,,,,,,,,,,,,,,,,
1,0,3,1,22.0,1,0,7.2500,NaN,1,0,0,0,0,1,0,0,0,1,0,0
2,1,1,0,38.0,1,0,71.2833,C85,0,1,0,0,0,0,1,0,0,0,0,1
3,1,3,0,26.0,0,0,7.9250,NaN,0,0,1,0,0,1,0,0,0,1,0,0
4,1,1,0,35.0,1,0,53.1000,C123,0,1,0,0,0,1,0,0,0,0,1,0
5,0,3,1,35.0,0,0,8.0500,NaN,1,0,0,0,0,1,0,0,0,1,0,0

In [165]:
train.drop('Fare',inplace = True, axis =1) # Borramos la columna
train.head()

,Survived,Pclass,Sex,Age,SibSp,Parch,Cabin,Mr,Mrs,Miss,royalty,officer,Embarked_S,Embarked_C,Embarked_Q,Embarked_unknown,Fare_cheap,Fare_average,Fare_costly
PassengerId,,,,,,,,,,,,,,,,,,,
1,0,3,1,22.0,1,0,NaN,1,0,0,0,0,1,0,0,0,1,0,0
2,1,1,0,38.0,1,0,C85,0,1,0,0,0,0,1,0,0,0,0,1
3,1,3,0,26.0,0,0,NaN,0,0,1,0,0,1,0,0,0,1,0,0
4,1,1,0,35.0,1,0,C123,0,1,0,0,0,1,0,0,0,0,1,0
5,0,3,1,35.0,0,0,NaN,1,0,0,0,0,1,0,0,0,1,0,0

In [166]:
#Como tampoco se usará la columna Cabin, la eliminamos.
train.drop('Cabin',inplace = True, axis = 1)
train.head()

,Survived,Pclass,Sex,Age,SibSp,Parch,Mr,Mrs,Miss,royalty,officer,Embarked_S,Embarked_C,Embarked_Q,Embarked_unknown,Fare_cheap,Fare_average,Fare_costly
PassengerId,,,,,,,,,,,,,,,,,,
1,0,3,1,22.0,1,0,1,0,0,0,0,1,0,0,0,1,0,0
2,1,1,0,38.0,1,0,0,1,0,0,0,0,1,0,0,0,0,1
3,1,3,0,26.0,0,0,0,0,1,0,0,1,0,0,0,1,0,0
4,1,1,0,35.0,1,0,0,1,0,0,0,1,0,0,0,0,1,0
5,0,3,1,35.0,0,0,1,0,0,0,0,1,0,0,0,1,0,0

In [167]:
train.describe() # Se vuelve a verificar si no hay algún valor faltante después de las modificaciones

,Survived,Pclass,Age,SibSp,Parch,Mr,Mrs,Miss,royalty,officer,Embarked_S,Embarked_C,Embarked_Q,Embarked_unknown,Fare_cheap,Fare_average,Fare_costly
count,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.0,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000
mean,0.383838,2.308642,29.361582,0.523008,0.381594,0.580247,0.140292,0.204265,0.075196,0.0,0.722783,0.188552,0.086420,0.002245,0.737374,0.144781,0.117845
std,0.486592,0.836071,13.019697,1.102743,0.806057,0.493796,0.347485,0.403390,0.263856,0.0,0.447876,0.391372,0.281141,0.047351,0.440308,0.352078,0.322606
min,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,2.000000,22.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,3.000000,28.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.0,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
75%,1.000000,3.000000,35.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.0,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
max,1.000000,3.000000,80.000000,8.000000,6.000000,1.000000,1.000000,1.000000,1.000000,0.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [168]:
#Dividimos datos para entrenamiento
X = train[['Pclass','Sex','Age','SibSp','Parch','Mr','Mrs','Miss',
           'royalty','officer',
           'Embarked_S','Embarked_C','Embarked_Q',
           'Embarked_unknown','Fare_cheap',
           'Fare_average','Fare_costly']]
X

,Pclass,Sex,Age,SibSp,Parch,Mr,Mrs,Miss,royalty,officer,Embarked_S,Embarked_C,Embarked_Q,Embarked_unknown,Fare_cheap,Fare_average,Fare_costly
PassengerId,,,,,,,,,,,,,,,,,
1,3,1,22.0,1,0,1,0,0,0,0,1,0,0,0,1,0,0
2,1,0,38.0,1,0,0,1,0,0,0,0,1,0,0,0,0,1
3,3,0,26.0,0,0,0,0,1,0,0,1,0,0,0,1,0,0
4,1,0,35.0,1,0,0,1,0,0,0,1,0,0,0,0,1,0
5,3,1,35.0,0,0,1,0,0,0,0,1,0,0,0,1,0,0
6,3,1,28.0,0,0,1,0,0,0,0,0,0,1,0,1,0,0
7,1,1,54.0,0,0,1,0,0,0,0,1,0,0,0,0,1,0
8,3,1,2.0,3,1,0,0,0,1,0,1,0,0,0,1,0,0
9,3,0,27.0,0,2,0,1,0,0,0,1,0,0,0,1,0,0
10,2,0,14.0,1,0,0,1,0,0,0,0,1,0,0,0,1,0
11,3,0,4.0,1,1,0,0,1,0,0,1,0,0,0,1,0,0
12,1,0,58.0,0,0,0,0,1,0,0,1,0,0,0,1,0,0
13,3,1,20.0,0,0,1,0,0,0,0,1,0,0,0,1,0,0
14,3,1,39.0,1,5,1,0,0,0,0,1,0,0,0,0,1,0
15,3,0,14.0,0,0,0,0,1,0,0,1,0,0,0,1,0,0
16,2,0,55.0,0,0,0,1,0,0,0,1,0,0,0,1,0,0
17,3,1,2.0,4,1,0,0,0,1,0,0,0,1,0,1,0,0
18,2,1,28.0,0,0,1,0,0,0,0,1,0,0,0,1,0,0
19,3,0,31.0,1,0,0,1,0,0,0,1,0,0,0,1,0,0
20,3,0,28.0,0,0,0,1,0,0,0,0,1,0,0,1,0,0
21,2,1,35.0,0,0,1,0,0,0,0,1,0,0,0,1,0,0
22,2,1,34.0,0,0,1,0,0,0,0,1,0,0,0,1,0,0
23,3,0,15.0,0,0,0,0,1,0,0,0,0,1,0,1,0,0
24,1,1,28.0,0,0,1,0,0,0,0,1,0,0,0,0,1,0
25,3,0,8.0,3,1,0,0,1,0,0,1,0,0,0,1,0,0
26,3,0,38.0,1,5,0,1,0,0,0,1,0,0,0,0,1,0
27,3,1,28.0,0,0,1,0,0,0,0,0,1,0,0,1,0,0
28,1,1,19.0,3,2,1,0,0,0,0,1,0,0,0,0,0,1
29,3,0,28.0,0,0,0,0,1,0,0,0,0,1,0,1,0,0
30,3,1,28.0,0,0,1,0,0,0,0,1,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
862,2,1,21.0,1,0,1,0,0,0,0,1,0,0,0,1,0,0
863,1,0,48.0,0,0,0,1,0,0,0,1,0,0,0,1,0,0
864,3,0,28.0,8,2,0,0,1,0,0,1,0,0,0,0,1,0
865,2,1,24.0,0,0,1,0,0,0,0,1,0,0,0,1,0,0
866,2,0,42.0,0,0,0,1,0,0,0,1,0,0,0,1,0,0
867,2,0,27.0,1,0,0,0,1,0,0,0,1,0,0,1,0,0
868,1,1,31.0,0,0,1,0,0,0,0,1,0,0,0,0,1,0
869,3,1,28.0,0,0,1,0,0,0,0,1,0,0,0,1,0,0
870,3,1,4.0,1,1,0,0,0,1,0,1,0,0,0,1,0,0
871,3,1,26.0,0,0,1,0,0,0,0,1,0,0,0,1,0,0
872,1,0,47.0,1,1,0,1,0,0,0,1,0,0,0,0,1,0
873,1,1,33.0,0,0,1,0,0,0,0,1,0,0,0,1,0,0
874,3,1,47.0,0,0,1,0,0,0,0,1,0,0,0,1,0,0
875,2,0,28.0,1,0,0,1,0,0,0,0,1,0,0,1,0,0
876,3,0,15.0,0,0,0,0,1,0,0,0,1,0,0,1,0,0
877,3,1,20.0,0,0,1,0,0,0,0,1,0,0,0,1,0,0
878,3,1,19.0,0,0,1,0,0,0,0,1,0,0,0,1,0,0
879,3,1,28.0,0,0,1,0,0,0,0,1,0,0,0,1,0,0
880,1,0,56.0,0,1,0,1,0,0,0,0,1,0,0,0,0,1
881,2,0,25.0,0,1,0,1,0,0,0,1,0,0,0,1,0,0
882,3,1,33.0,0,0,1,0,0,0,0,1,0,0,0,1,0,0
883,3,0,22.0,0,0,0,0,1,0,0,1,0,0,0,1,0,0
884,2,1,28.0,0,0,1,0,0,0,0,1,0,0,0,1,0,0
885,3,1,25.0,0,0,1,0,0,0,0,1,0,0,0,1,0,0
886,3,0,39.0,0,5,0,1,0,0,0,0,0,1,0,1,0,0
887,2,1,27.0,0,0,0,0,0,1,0,1,0,0,0,1,0,0
888,1,0,19.0,0,0,0,0,1,0,0,1,0,0,0,1,0,0
889,3,0,28.0,1,2,0,0,1,0,0,1,0,0,0,1,0,0
890,1,1,26.0,0,0,1,0,0,0,0,0,1,0,0,1,0,0
891,3,1,32.0,0,0,1,0,0,0,0,0,0,1,0,1,0,0

In [169]:
#Guardamos en Y las etiquetas de la clase: sobrevivió: 1 ó 0.
y = train.Survived
y

PassengerId
1      0
2      1
3      1
4      1
5      0
6      0
7      0
8      0
9      1
10     1
11     1
12     1
13     0
14     0
15     0
16     1
17     0
18     1
19     0
20     1
21     0
22     1
23     1
24     1
25     0
26     1
27     0
28     0
29     1
30     0
      ..
862    0
863    1
864    0
865    0
866    1
867    1
868    0
869    0
870    1
871    0
872    1
873    0
874    0
875    1
876    1
877    0
878    0
879    0
880    1
881    1
882    0
883    0
884    0
885    0
886    0
887    0
888    1
889    0
890    1
891    0
Name: Survived, dtype: int64

In [170]:
print(train.shape)
print(X.shape)
print(y.shape)

(891, 18)
(891, 17)
(891,)

In [171]:
## Guardando un dataframe modificado a un archivo externo
train.to_csv("archivo_salida.csv")

## Ejercicio
- Con los datos del TITANIC, hacer lo siguiente:
    - Llenar los NaN de las edades de acuerdo al sexo; si es mujer llenar con la edad media de las mujeres, si es hombre con la edad media de los hombres en la base de datos.
    - Copiar a un nuevo DataFrame
    - Categorizar las edades, niño 0-14, joven 15-25, adulto 26:60, adulto mayor > 60
        - Decirme el número de mujeres y hombres en cada categoría de edad.